* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  /* background: linear-gradient(90deg, #00c9ff 0%, #92fe9d 100%); */
  background-color: black;
}

.box-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.box {
  padding: 3rem;
  background: linear-gradient(90deg, #00c9ff 0%, #92fe9d 100%);
  margin: 1rem;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  padding: 10px 30px;
  background-color: red;
}
